# 11. 데이터 정렬

In [1]:
import pandas as pd
df = pd.read_csv('DSC.txt',index_col='이명' )
df

       이름 계급    키   국어   영어   수학  과학  사회  사용호흡
이명
염주    렌고쿠  주  177   90   85  100  95  85    화염
하주   무이치로  주  160   40   35   50  55  25    안개
음주     텐겐  주  198   80   75   70  80  75    소리
연주    미츠리  주  167   40   60   70  75  80    사랑
수주     기유  주  176   15   20   10  35  10     물
충주    시노부  주  151   80  100   95  85  80    벌레
풍주    사네미  주  179   55   65   45  40  35    바람
주인공   탄지로  병  165  100   85   90  95  95  물, 해

In [2]:
df.sort_values('키') #오름차순으로 정렬

       이름 계급    키   국어   영어   수학  과학  사회  사용호흡
이명
충주    시노부  주  151   80  100   95  85  80    벌레
하주   무이치로  주  160   40   35   50  55  25    안개
주인공   탄지로  병  165  100   85   90  95  95  물, 해
연주    미츠리  주  167   40   60   70  75  80    사랑
수주     기유  주  176   15   20   10  35  10     물
염주    렌고쿠  주  177   90   85  100  95  85    화염
풍주    사네미  주  179   55   65   45  40  35    바람
음주     텐겐  주  198   80   75   70  80  75    소리

In [3]:
df.sort_values('키',ascending=False)

       이름 계급    키   국어   영어   수학  과학  사회  사용호흡
이명
음주     텐겐  주  198   80   75   70  80  75    소리
풍주    사네미  주  179   55   65   45  40  35    바람
염주    렌고쿠  주  177   90   85  100  95  85    화염
수주     기유  주  176   15   20   10  35  10     물
연주    미츠리  주  167   40   60   70  75  80    사랑
주인공   탄지로  병  165  100   85   90  95  95  물, 해
하주   무이치로  주  160   40   35   50  55  25    안개
충주    시노부  주  151   80  100   95  85  80    벌레

In [4]:
df.sort_values(['수학','영어'],ascending=False)

       이름 계급    키   국어   영어   수학  과학  사회  사용호흡
이명
염주    렌고쿠  주  177   90   85  100  95  85    화염
충주    시노부  주  151   80  100   95  85  80    벌레
주인공   탄지로  병  165  100   85   90  95  95  물, 해
음주     텐겐  주  198   80   75   70  80  75    소리
연주    미츠리  주  167   40   60   70  75  80    사랑
하주   무이치로  주  160   40   35   50  55  25    안개
풍주    사네미  주  179   55   65   45  40  35    바람
수주     기유  주  176   15   20   10  35  10     물

In [5]:
df.sort_values(['수학','영어'],ascending=[False,True])

       이름 계급    키   국어   영어   수학  과학  사회  사용호흡
이명
염주    렌고쿠  주  177   90   85  100  95  85    화염
충주    시노부  주  151   80  100   95  85  80    벌레
주인공   탄지로  병  165  100   85   90  95  95  물, 해
연주    미츠리  주  167   40   60   70  75  80    사랑
음주     텐겐  주  198   80   75   70  80  75    소리
하주   무이치로  주  160   40   35   50  55  25    안개
풍주    사네미  주  179   55   65   45  40  35    바람
수주     기유  주  176   15   20   10  35  10     물