# 13. 함수 적용

In [1]:
import pandas as pd
df = pd.read_csv('DSC.txt',index_col='이명' )
df

       이름 계급    키   국어   영어   수학  과학  사회  사용호흡
이명
염주    렌고쿠  주  177   90   85  100  95  85    화염
하주   무이치로  주  160   40   35   50  55  25    안개
음주     텐겐  주  198   80   75   70  80  75    소리
연주    미츠리  주  167   40   60   70  75  80    사랑
수주     기유  주  176   15   20   10  35  10     물
충주    시노부  주  151   80  100   95  85  80    벌레
풍주    사네미  주  179   55   65   45  40  35    바람
주인공   탄지로  병  165  100   85   90  95  95  물, 해

In [2]:
df['사용호흡'] = df['사용호흡'] + "의 호흡"
df

       이름 계급    키   국어   영어   수학  과학  사회      사용호흡
이명
염주    렌고쿠  주  177   90   85  100  95  85    화염의 호흡
하주   무이치로  주  160   40   35   50  55  25    안개의 호흡
음주     텐겐  주  198   80   75   70  80  75    소리의 호흡
연주    미츠리  주  167   40   60   70  75  80    사랑의 호흡
수주     기유  주  176   15   20   10  35  10     물의 호흡
충주    시노부  주  151   80  100   95  85  80    벌레의 호흡
풍주    사네미  주  179   55   65   45  40  35    바람의 호흡
주인공   탄지로  병  165  100   85   90  95  95  물, 해의 호흡

## 데이터에 함수 적용 (apply)

In [4]:
def add_cm(height):
    return str(height) + 'cm'
df['키'] = df['키'].apply(add_cm)
df

       이름 계급        키   국어   영어   수학  과학  사회      사용호흡
이명
염주    렌고쿠  주  177cmcm   90   85  100  95  85    화염의 호흡
하주   무이치로  주  160cmcm   40   35   50  55  25    안개의 호흡
음주     텐겐  주  198cmcm   80   75   70  80  75    소리의 호흡
연주    미츠리  주  167cmcm   40   60   70  75  80    사랑의 호흡
수주     기유  주  176cmcm   15   20   10  35  10     물의 호흡
충주    시노부  주  151cmcm   80  100   95  85  80    벌레의 호흡
풍주    사네미  주  179cmcm   55   65   45  40  35    바람의 호흡
주인공   탄지로  병  165cmcm  100   85   90  95  95  물, 해의 호흡

In [5]:
df = pd.read_csv('DSC.txt',index_col='이명' )
def add_cm(height):
    return str(height) + 'cm'
df['키'] = df['키'].apply(add_cm)
df

       이름 계급      키   국어   영어   수학  과학  사회  사용호흡
이명
염주    렌고쿠  주  177cm   90   85  100  95  85    화염
하주   무이치로  주  160cm   40   35   50  55  25    안개
음주     텐겐  주  198cm   80   75   70  80  75    소리
연주    미츠리  주  167cm   40   60   70  75  80    사랑
수주     기유  주  176cm   15   20   10  35  10     물
충주    시노부  주  151cm   80  100   95  85  80    벌레
풍주    사네미  주  179cm   55   65   45  40  35    바람
주인공   탄지로  병  165cm  100   85   90  95  95  물, 해